Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.dylib

# Folders
build*/
install/
html/
!doc/html/

# Emacs
*~
\#*\#
.\#*

# Eclipse
.cproject
.project
.settings/

.vscode/

# Mac
.DS_Store

