Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.dylib

# Folders
build*/
cmake-build*/
install/
html/
!doc/html/
test/datastore_*/

# Emacs
*~
\#*\#
.\#*

# Eclipse
.cproject
.project
.settings/

.vscode/
.idea/

# Mac
.DS_Store

